{% extends "base.html" %}

{% comment %} 
{% load i18n %}
{% load account socialaccount %} {% endcomment %}

{% block title %}QPF-Login {% endblock %}

{% block content %}



<div class="box login-bg">

	<div class="container">

		<div class="card log-box">

			<div class="card-body pb-">

				<div class="checkout_area section_padding_100">
					<div class="container">
						<div class="row">
				
							<div class="col-12 ">
								<div class="checkout_details_area mt-50 clearfix">
				
									<div class="cart-page-heading">
										<h5>Login</h5>
										<p></p>
									</div>
				
									<form action="#" method="POST">
										{% csrf_token %}
										<div >
											<div class="col-md-6 mb-3">
												<label for="first_name">Username <span>*</span></label>
												<input type="text" class="form-control" id="username" name="username" value="" required>
											</div>
											<br>
											<div class="col-md-6 mb-3">
												<label for="last_name">Password <span>*</span></label>
												<input type="password" class="form-control" id="password" name="password" value="" required>
											</div>
											<button style="width: 30rem; margin-left:15px;" class="btn karl-checkout-btn" type="submit" style="width: 80%">sign in</button>
											
										</div>
									</form>
								</div>
								<a href="{% url 'authenticate:signup' %}">Don't have an account? Sign up</a>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>

</div>

{% endblock %}