{% extends "../base.html" %}
{% block title %}QPF-Add Expense Category{% endblock %}

{% block content %}
      {% if user.is_authenticated %}
      <h3>Add Your Expense Category</h3>
      <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="name">Tag <span>*</span></label>
                <input type="int" class="form-control" name="name" value="" required>
            </div>  
        <button class="btn btn-primary w-100 mt-3" type="submit">Add Expense Category</button>
        </div>  
    </form>
      {% endif %}
  </div>
  {% endblock %}