{% extends "../base.html" %}
{% block title %}QPF-Dashboard{% endblock %}

{% block content %}
      {% if user.is_authenticated %}
      <h3>Monthly Analytics: {{ month }}/{{ year }}</h3>
      <h5>Filter Month</h5>
      <form method="GET">
        {% csrf_token %}
        <div class="row" >
            <div class="col-md-6 mb-3">
                <label for="month">Month <span>*</span></label>
                <input type="int" class="form-control" name="month" value="" required>
            </div>  
            <div class="col-md-6 mb-3">
                <label for="year">Year <span>*</span></label>
                <input type="text" class="form-control" name="year" value="" required>
        </div>  
        <button class="btn w-100 mt-3 btn-primary" type="submit">Filter</button>

    </form>

    {{ monthly_income }}
    {{ monthly_expense }}
    {{ expense_percent }}%
    {{ monthly_saving }}
    {{ saving_percent }}%
    {{ monthly_category_wise_income }}
    {{ monthly_category_wise_expense }}
    {{ monthly_category_wise_income_percent }}
    {{ monthly_category_wise_expense_percent }}
    {{ monthly_category_wise_expense_of_income }}

    {% comment %} {% for e in expense_category %}
    {{ e }}
    {{ monthly_category_wise_expense }}
    {% endfor %} {% endcomment %}

    {% comment %} {% for key, value in expense_category.items %}
    {{ value }}
    {% endfor %}

    {% for item in expense_category %} 
  {{ mydict.item.NAME }} 
  {% endfor %}

    {% for income in income_list %}
    {{ income.source }}
    {{ income.source }}
    {{ income.source }}
    {{ income.source }}
    {{ income.source }}
    {{ income.source }}
    {% endfor %}

    {% for i in monthly_income_details %}
    <br>
    {{ i.source }}
    {{ i.amount }}
    {{ i.note }}
    {{ i.category }} 
    {{ i.time_stamp }}
    {% endfor %}
    <br>
    <br>
    {% for exp in monthly_expense_details %}
    {% for j in expense_category %}
    {% if exp.category.id == j.id %}
    <br>
    {{ exp.expense }}
    {{ exp.amount }}
    {{ exp.note }}
    {{ exp.category }} 
    {% endif %}
    {% endfor %}
    {% endfor %} {% endcomment %}
    {% endif %}
  </div>
  {% endblock %} 
